<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (string.IsNullOrEmpty(ViewData["Title"] + ""))
    {
        <title>Journal</title>
    }
    else
    {
        <title>@ViewData["Title"] - Journal</title>
    }


    <link rel="icon" type="image/png" href="~/favicon.png" />

    <link rel="stylesheet" href="css/lib/bulma.min.css">
    <link rel="stylesheet" href="css/lib/bulma-calendar.min.css">
    <link rel="stylesheet" href='css/lib/bulma-tagsinput.min.css' />

    <link rel="stylesheet" href="css/site.css" />

    <script src="js/lib/jquery-1.11.0.min.js"></script>
</head>
<body>

    <nav class="navbar" role="navigation" aria-label="main navigation" style="border-bottom: 1px solid #00d1b2;">
        <div class="navbar-brand">
            <a class="navbar-item" href=".">
                <span class="is-size-5">Journal</span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                <a class="navbar-item" asp-action="Index" asp-controller="Home">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>



                <a class="navbar-item" asp-action="Photo" asp-controller="Home">
                    <span class="icon">
                        <i class="fas fa-camera"></i>
                    </span>
                    <span>Photo</span>
                </a>




                <a class="navbar-item" asp-action="Search" asp-controller="Home">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span>Search</span>
                </a>

                <a class="navbar-item" asp-action="Tags" asp-controller="Home">
                    <span class="icon">
                        <i class="fas fa-tag"></i>
                    </span>
                    <span>Tags</span>
                </a>
                <a class="navbar-item" asp-action="Year" asp-controller="Home">
                    <span class="icon">
                        <i class="fas fa-calendar"></i>
                    </span>
                    <span>Year overview</span>
                </a>
                <a class="navbar-item" asp-action="Mood" asp-controller="Home">
                    <span class="icon">
                        <i class="fas fa-chart-line"></i>
                    </span>
                    <span>Mood chart</span>
                </a>

                <a class="navbar-item" asp-action="Gallery" asp-controller="Home">
                    <span class="icon">
                        <i class="fas fa-image"></i>
                    </span>
                    <span>Gallery</span>
                </a>
            </div>

            <div class="navbar-end">
                @RenderSection("Nav", false)
            </div>
        </div>
    </nav>

    <script>
        $(document).ready(function () {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function () {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>


    @RenderBody()


    <script defer src="js/lib/font-awesome.js"></script>
    <script src="js/lib/bulma-calendar.js"></script>
    
    
    <script src="js/lib/bulma-tagsinput.js"></script>

    <script src="js/lib/ckeditor.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
