@model JournalModel
@{
    ViewData["Title"] = "";
}

@section Nav {

    <p class="level-item level-right" id="pnlRight" style="width:130px">
        <a class="navbar-item" id="pnlUnsaved" style="display:none">
            <span class="icon">
                <i class="fas fa-warning"></i>
            </span>
            <span>Unsaved changes</span>
        </a>
        <a class="navbar-item" id="pnlSaved" style="display:none">
            <span class="icon">
                <i class="fas fa-check"></i>
            </span>
            <span>Saved</span>
        </a>
    </p>

}

<style>

    .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-highlighted {
        background-color: rgba(0, 209, 178,0.2);
    }

    .columns {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    #editorContainer > * {
        background-color: #fafafa;
        border: 1px solid #DDD;
    }

    .is-error {
        background-color: #f14668 !important;
    }

    .ck-content ol {
        list-style: decimal;
    }
    .ck-content ul {
        list-style: initial;
    }

    .ck-content ul, .ck-content ol {
        padding: initial;
        margin: initial;
        padding-left: 25px;
    }

    .mood[data-checked='true'] {
        box-shadow: 0 0 10px #00d1b2;
        border-radius: 48px;
        background-color: #00d1b2;
    }
    
    .mood input {
        display:none !important;
    }
    .mood {
        background-image: url('css/mood.png');
        width: 48px;
        height: 48px;
        background-size: auto 48px;
        background-repeat: no-repeat;

    }
        .mood[data-value='-2'] {
            background-position: 1px 1px;
        }
        .mood[data-value='-1'] {
            background-position: -47px 1px;
        }
        .mood[data-value='0'] {
            background-position: -95px 1px;
        }
        .mood[data-value='1'] {
            background-position: -143px 1px;
        }
        .mood[data-value='2'] {
            background-position: -191px 1px;
        }
</style>

<section class="section" style="padding-top:1em">
    <div class="container is-fluid">

        <div class="columns is-desktop is-multiline">
            <div class="column is-narrow">
                <div class="field">
                    <input id="cal" type="date" />
                </div>

                <div class="field has-text-centered">
                    <label class="label">Mood</label>
                    <div class="control mood-selection">
                        <label class="radio mood"  data-value="2" title="Joyous">
                            <input type="radio" name="optMood" value="2">
                        </label>
                        <label class="radio mood"  data-value="1"  title="Happy">
                            <input type="radio" name="optMood" value="1"> 
                        </label>
                        <label class="radio mood"  data-value="0"  title="Neutral">
                            <input type="radio" name="optMood" value="0"> 
                        </label>
                        <label class="radio mood"  data-value="-1" title="Unhappy">
                            <input type="radio" name="optMood" value="-1">
                        </label>
                        <label class="radio mood"  data-value="-2" title="Terrible">
                            <input type="radio" name="optMood" value="-2">
                        </label>
                    </div>
                </div>

                <div class="field has-text-centered">
                    <label class="label">Tags</label>
                    <div class="control">
                        <style>
                            .tags-input {
                                width: 320px;
                            }
                        </style>
                        <input type="tags" id="tags" value="" />
                        <datalist id="null">
                        @foreach (var tag in Model.AvailableTags)
                        {
                            <option value="@tag" />
                        }
                        </datalist>
                    </div>
                </div>

                <div class="field has-text-centered">
                   
                    <div class="control">
                        <a class="is-link is-size-7" id="lnkDelete">Delete this entry</a>
                    </div>
                </div>

            </div>
            <div class="column" id="editorContainer" style="height:calc(100vh - 100px);">
                <div id="editor" style="width:100%;height:100%"></div>
            </div>
        </div>
    </div>

</section>


@section Scripts {

    <script>
        var highlightedDates = [
            @Html.Raw(string.Join("," , Model.AvailableDates.Select(d => $@"""{d}""")))
        ];
        var weekStart = @((int)System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek);
    </script>
    <script src="js/home.js"></script>
}