@model List<Journal.Domain.DayEntry>

@{
    ViewData["Title"] = "Mood";
}




<section class="section" style="padding-top:1em">
    <div class="container is-fluid has-text-centered">
        <div class="columns is-centered">
            <div class="column">

                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
    </div>
</section>




@section Scripts {

    <script src="~/js/lib/highcharts.js"></script>
    <script src="~/js/moodChart.js"></script>
    <script>

        @{
            Func<MoodEnum, string> colorFunc = (mood) =>
            {
                switch (mood)
                {
                    case MoodEnum.Joyous: return "hsl(171, 100%, 41%)";
                    case MoodEnum.Happy: return "hsl(141, 53%, 53%)";
                    case MoodEnum.Neutral: return "hsl(0, 0%, 71%)";
                    case MoodEnum.Unhappy: return "hsl(348, 100%, 61%)";
                    case MoodEnum.Terrible: return "hsl(0, 0%, 7%)";


                    default:
                        return "#CCC";
                }
            };

            var days = Model.OrderBy(d => d.Day).ToArray();
            var minDay = days.FirstOrDefault()?.Day;
            var maxDay = days.LastOrDefault()?.Day;
        }

        var dates = [ @Html.Raw(string.Join(",", Model.OrderBy(d => d.Day).Select(d => $@"{{ day: ""{d.Day}"", mood: {(int)d.Mood} }}"))) ];
        var moodZones = [ @Html.Raw(string.Join(",", Enum.GetValues(typeof(MoodEnum)).Cast<MoodEnum>().Select(m => (int)m).OrderBy(i => i).Select(i => $@"{{ value: { (i+0.5f).ToString(System.Globalization.CultureInfo.InvariantCulture) }, color: '{colorFunc((MoodEnum)i)}' }}"))) ];

        const from = new Date("@minDay");
        const to = new Date(new Date("@maxDay").getTime() + 24*3600*1000);

        var chart = MoodChart.loadMoodChart('container', dates, from, to, moodZones);

         chart.xAxis[0].setExtremes(new Date().getTime() - 1000 * 3600 * 24 * 365, new Date().getTime());
         chart.showResetZoom();
    </script>

}