
@{
    ViewData["Title"] = "Search";
}


<section class="section" style="padding-top:1em">
    <div class="container is-fluid has-text-centered">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="field">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input id="txtKeywords" class="input" type="text" placeholder="Search in journal, you can use AND, OR and wildcards (*) e.g. 'Plant* OR Pot'">
                        </div>
                        <div class="control">
                            <a class="button is-primary" id="btnSearch">
                                Search
                            </a>
                        </div>
                    </div>
                    <div class="field" id="nrSearchResults">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-two-thirds" id="resultsContainer">
                @*<div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a _target="blank" href="">
                                            <strong>2020-07-19</strong>
                                        </a>
                                        <br>
                                        ...I bought a new <b>plant</b> in colruyt yesterday that I liked the look of, put it on the windowsill where...
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>*@
            </div>
            <div class="column">
                <div id="frequencyChart">
                    
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts
{
    <script src="~/js/lib/highcharts.js"></script>
    <script src="~/js/frequencyChart.js"></script>
    <script src="~/js/search.js"></script>

}
