@model List<Journal.Domain.DayEntry>

<section class="section" style="padding-top:1em">
    <div class="container is-fluid has-text-centered">

        <div class="columns">
            <div class="column">
                @foreach (var entry in Model)
                {
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>

                            <div class="media-content">
                                <nav class="level">
                                    <div class="level-left">
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading">Images</p>
                                                <p class="title">@entry.ImageCount</p>
                                            </div>
                                        </div>
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <p class="heading">Words</p>
                                                <p class="title">@entry.WordCount</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div class="content">
                                            <p>
                                                <a _target="blank" href="./?date=@entry.Day">
                                                    <strong>@entry.Day</strong>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </nav>

                            </div>
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

